.headerSide {
    position: absolute;
    box-shadow: -8px 1.75vh rgba(0, 0, 0, 0.8) inset, 1.75vh 0 1.75vh rgba(0, 0, 0, 0.9);
    z-index: -1;
    top: -10vh;
    left: -20vw;
    background-color: #000;
    width: 70vw;
    height: 140vh;
    transform: rotate(-15deg);
    opacity: 0.5;
}

.headerContainer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-shadow: 1vh 1vh 3vh rgba(255, 255, 255, 0.7);
}

.welcomeContainer {
    position: absolute;
    top: 22vh;
    left: 5vw;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.welcomeBtn {
    border-color: #fff;
    border-style: solid;
    border-radius: 6px;
    border-width: 3px;
    font-size: 4.26vh;
    width: 32vh;
    line-height: 7vh;
    text-align: center;
    color: #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.welcomeText {
    color: #fff;
    font-size: 8.83vh;
    line-height: 9.13vh;
    font-weight: bold;
}

.pronounceButton {
    color: #fff;
    font-size: 3vh;
    line-height: 4vh;
    margin-top: 5vh;
    cursor: pointer;
    user-select: none;
    outline: none;
}
.welcomeDesc {
    font-size: 3.35vh;
    margin: 3vh 0;
    color: #fff;
}

.topHeaderContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10vh;
    font-family: "Titan One", sans-serif;
    color: #fff;
}

.topButtons {
    position: absolute;
    top: 3vh;
    right: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.topButtons:first-child {
    margin-right: 3vw;
}

.btn {
    color: #fff;
    font-size: 23px;
}

.btn:first-child {
    margin-right: 3vw;
}