@import url( 'https://fonts.googleapis.com/css?family=Nunito:400,700|Titan+One|Creepster|Satisfy|Eczar:700');

.link {
    color: blue;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

.blook {
    height: 160px;
    margin: auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.button {
    font-weight: 300;
    padding: 1vh 3vw;
    outline: #fff solid 0.35vh;
    border-radius: 0.35vh;
    cursor: pointer;
    font-size: 3vh;
    transition: all 0.2s;
}

body {
    font-family: nunito;
}

.blookContainer {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,.1);
    background-color: rgba(82, 3, 84, 0.4);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(152, 0, 183);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(186, 0, 223);
}
