<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>zas dicks</title>
    <link href="statz.css" rel="stylesheet" type="text/css" />
    <link href="useredit.css" rel="stylesheet" type="text/css" />
    <link href="badgeedit.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="arts__modal___VpEAD-camelCase styles__modalTransition___2oIBF-camelCase styles__modalOpen___3ScfB-camelCase"
        onclick="closeSidebar();">
    </div>
    <!--SIDEBAR SECTION-->
    <div class="styles__sidebar___1XqWi-camelCase">
        <text class="styles__logo___16pGV-camelCase">Nebulet</text>
        <a class="styles__pageButton___1wFuu-camelCase" href="/stats">
            <i class="styles__pageIcon___3OSy9-camelCase fas fa-chart-column" aria-hidden="true"></i>
            <div class="styles__pageText___1eo7q-camelCase">
                Stats
            </div>
        </a>
        <a class="styles__pageButton___1wFuu-camelCase" href="/market">
            <i class="styles__pageIcon___3OSy9-camelCase fas fa-store" aria-hidden="true"></i>
            <div class="styles__pageText___1eo7q-camelCase">
                Market
            </div>
        </a>
        <a class="styles__pageButton___1wFuu-camelCase" href="/blooks">
            <i class="styles__pageIcon___3OSy9-camelCase fas fa-suitcase" aria-hidden="true"></i>
            <div class="styles__pageText___1eo7q-camelCase">
                Blooks
            </div>
        </a>
        <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/chat">
            <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-comment" aria-hidden="true"></i>
            <div class="styles__pageText___1eo7q-camelCase">
                Chat
            </div>
        </a>
        <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/offers">
            <i class="styles__pageIcon___3OSy9-camelCase fas fa-gavel" aria-hidden="true"></i>
            <div class="styles__pageText___1eo7q-camelCase">
                Offers
            </div>
        </a>
        <a href="/staff" class="styles__pageButton___1wFuu-camelCase">
            <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-screwdriver-wrench" aria-hidden="true"></i>
            <div class="styles__pageText___1eo7q-camelCase">
                Staff
            </div>
        </a>
        <a class="styles__pageButton___1wFuu-camelCase" href="/settings">
            <i class="styles__pageIcon___3OSy9-camelCase fas fa-cog" aria-hidden="true"></i>
            <div class="styles__pageText___1eo7q-camelCase">
                Settings
            </div>
        </a>
        <div class="styles__bottomRow___3OozA-camelCase">
            <a data-tip="Stats" class="styles__smallButton___sQuq8-camelCase" href="/stats" currentitem="false">
                <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-discord" aria-hidden="true"></i>
            </a>
            <a data-tip="Blooks" class="styles__smallButton___sQuq8-camelCase" href="/blooks" currentitem="false">
                <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-youtube" aria-hidden="true"></i>
            </a>
            <a data-tip="Market" class="styles__smallButton___sQuq8-camelCase" href="/market" currentitem="false">
                <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-twitter" aria-hidden="true"></i>
            </a>
            <div class="styles__smallButton___sQuq8-camelCase" data-tip="News" role="button" tabindex="0"
                currentitem="false">
                <i class="far fa-newspaper styles__bottomIcon___3Fswk-camelCase" aria-hidden="true"></i>
            </div>
        </div>
        <a class="styles__plusButton___2dH73-camelCase" href="/store">
            <i class="fa-solid fa-sack-dollar styles__plusIcon___3DQkg-camelCase" aria-hidden="true"></i>
            Store
        </a>
    </div>
    <!--END OF SIDEBAR SECTION-->
    <div class="topLeftContainer">
        <i class="fa-solid fa-chevron-right topIcon" onclick="openSidebar();"></i>
    </div>
    <!--START OF TOP CORNER PFP SECTION-->
    <div class="styles__topRightRow___dQvxc-camelCase">
        <div class="styles__profileContainer___CSuIE-camelCase" role="button" tabindex="0">
            <div class="styles__profileRow___cJa4E-camelCase">
                <div class="styles__blookContainer___36LK2-camelCase styles__profileBlook___37mfP-camelCase">
                    <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg"
                        alt="Rainbow Panda Blook" draggable="false" class="styles__blook___1R6So-camelCase">
                </div>
                user
            </div>
            <i class="fas fa-angle-down styles__profileDropdownIcon___3iLIX-camelCase" aria-hidden="true">
            </i>
            <div class="styles__profileDropdownMenu___2jUAA-camelCase">
                <a class="styles__profileDropdownOption___ljZXD-camelCase" href="/settings">
                    <i class="fas fa-cog styles__profileDropdownOptionIcon___15VKX-camelCase" aria-hidden="true"></i>
                    Settings
                </a>
                <a class="styles__profileDropdownOption___ljZXD-camelCase" href="https://id.blooket.com/logout">
                    <i class="fas fa-sign-out-alt styles__profileDropdownOptionIcon___15VKX-camelCase"
                        aria-hidden="true">
                    </i>
                    Logout
                </a>
            </div>
        </div>
    </div>
    <!--END OF TCP SECTION-->
    <div class="arts__profileBodyMax___3SXtp-camelCase styles__bodyMaxWidth___1T-09-camelCase">
        <div class="styles__header___153FZ-camelCase">
            Badge Editor
            <div class="badgeAdd">
                <i class="rarityPlusIcon fa-solid fa-plus"></i>
            </div>
        </div>
        
        <div class="badgesBox">
            <div class="badgesHolder">
                <div class="badgeContainer">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136772802494595102/C163628E-5560-4DD8-A4C7-E7DE325B3075.png?width=655&height=655" alt="badge" class="badgeImg">
                </div>     
                <div class="badgeContainer">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136772802494595102/C163628E-5560-4DD8-A4C7-E7DE325B3075.png?width=655&height=655" alt="badge" class="badgeImg">
                </div>           
                <div class="badgeContainer">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136772802494595102/C163628E-5560-4DD8-A4C7-E7DE325B3075.png?width=655&height=655" alt="badge" class="badgeImg">
                </div> 
                <div class="badgeContainer">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136772802494595102/C163628E-5560-4DD8-A4C7-E7DE325B3075.png?width=655&height=655" alt="badge" class="badgeImg">
                </div> 
                <div class="badgeContainer">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136772802494595102/C163628E-5560-4DD8-A4C7-E7DE325B3075.png?width=655&height=655" alt="badge" class="badgeImg">
                </div> 
                <div class="badgeContainer">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136772802494595102/C163628E-5560-4DD8-A4C7-E7DE325B3075.png?width=655&height=655" alt="badge" class="badgeImg">
                </div> 
                <div class="badgeContainer">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136772802494595102/C163628E-5560-4DD8-A4C7-E7DE325B3075.png?width=655&height=655" alt="badge" class="badgeImg">
                </div> 
            </div>
        </div>
    </div>
    <div class="blooksBg"></div>
</body>

</html>