<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>bean</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
  <link href="blooks.css" rel="stylesheet" type="text/css" />
    <link href="blookedit.css" rel="stylesheet" type="text/css" />
    <link href="https://kit-pro.fontawesome.com/releases/v6.4.0/css/pro.min.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <div
    class="arts__modal___VpEAD-camelCase styles__modalTransition___2oIBF-camelCase styles__modalOpen___3ScfB-camelCase"
    onclick="closeSidebar();">
  </div>
  <!--SIDEBAR SECTION-->
  <div class="styles__sidebar___1XqWi-camelCase">
    <text class="styles__logo___16pGV-camelCase">Nebulet</text>
    <a class="styles__pageButton___1wFuu-camelCase" href="/stats">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-chart-column" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Stats
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/market">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-store" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Market
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/blooks">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-suitcase" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Blooks
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/chat">
      <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-comment" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Chat
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/offers">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-gavel" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Offers
      </div>
    </a>
    <a href="/staff" class="styles__pageButton___1wFuu-camelCase">
      <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-screwdriver-wrench" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Staff
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/settings">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-cog" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Settings
      </div>
    </a>
    <div class="styles__bottomRow___3OozA-camelCase">
      <a data-tip="Stats" class="styles__smallButton___sQuq8-camelCase" href="/stats" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-discord" aria-hidden="true"></i>
      </a>
      <a data-tip="Blooks" class="styles__smallButton___sQuq8-camelCase" href="/blooks" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-youtube" aria-hidden="true"></i>
      </a>
      <a data-tip="Market" class="styles__smallButton___sQuq8-camelCase" href="/market" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-twitter" aria-hidden="true"></i>
      </a>
      <div class="styles__smallButton___sQuq8-camelCase" data-tip="News" role="button" tabindex="0" currentitem="false">
        <i class="far fa-newspaper styles__bottomIcon___3Fswk-camelCase" aria-hidden="true"></i>
      </div>
    </div>
    <a class="styles__plusButton___2dH73-camelCase" href="/store">
      <i class="fa-solid fa-sack-dollar styles__plusIcon___3DQkg-camelCase" aria-hidden="true"></i>
      Store
    </a>
  </div>
  <!--END OF SIDEBAR SECTION-->
  <div class="topLeftContainer">
    <i class="fa-solid fa-chevron-right topIcon" onclick="openSidebar();"></i>
  </div>
  <!--START OF TOP CORNER PFP SECTION-->
  <div class="styles__topRightRow___dQvxc-camelCase">
    <div class="styles__profileContainer___CSuIE-camelCase" role="button" tabindex="0">
      <div class="styles__profileRow___cJa4E-camelCase">
        <div class="styles__blookContainer___36LK2-camelCase styles__profileBlook___37mfP-camelCase">
          <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" alt="Rainbow Panda Blook"
            draggable="false" class="styles__blook___1R6So-camelCase">
        </div>
        user
      </div>
      <i class="fas fa-angle-down styles__profileDropdownIcon___3iLIX-camelCase" aria-hidden="true">
      </i>
      <div class="styles__profileDropdownMenu___2jUAA-camelCase">
        <a class="styles__profileDropdownOption___ljZXD-camelCase" href="/settings">
          <i class="fas fa-cog styles__profileDropdownOptionIcon___15VKX-camelCase" aria-hidden="true"></i>
          Settings
        </a>
        <a class="styles__profileDropdownOption___ljZXD-camelCase" href="https://id.blooket.com/logout">
          <i class="fas fa-sign-out-alt styles__profileDropdownOptionIcon___15VKX-camelCase" aria-hidden="true">
          </i>
          Logout
        </a>
      </div>
    </div>
  </div>
  <!--END OF TCP SECTION-->
  <div class="arts__profileBody___eNPbH-camelCase">
    <div class="styles__topButtonRow___2HIbg-camelCase">
        <div class="styles__settingButton___2xaQu-camelCase" role="button" tabindex="0">
            Hide Packs
        </div>
    </div>
    <div class="styles__left___9beun-camelCase">
        <div class="styles__blooksHolder___3qZR1-camelCase">
            <div class="styles__blookContainer___3JrKb-camelCase" role="button" tabindex="0">
                <div class="styles__blookContainer___36LK2-camelCase styles__blook___bNr_t-camelCase">
                    <img src="https://media.discordapp.net/attachments/1136360465333755924/1136696231977025706/skidders111.png?width=568&height=655" alt="Create New Blook" draggable="false" class="styles__blook___1R6So-camelCase" style="margin-bottom: 20px;">
                </div>
            </div>
            <div class="styles__setHolder___rVq3Z-camelCase">
                <div class="styles__setTop___wIaVS-camelCase">
                    <div class="styles__setTopBackground___342Wr-camelCase" style="background-image: url();">

                    </div>
                    <div class="styles__setText___1PQLQ-camelCase">
                        Safari Pack
                    </div>
                    <div class="styles__setDivider___3da0c-camelCase">

                    </div>
                </div>
                <div class="styles__setBlooks___3xamH-camelCase">
                    <div class="styles__blookContainer___3JrKb-camelCase" role="button" tabindex="0">
                        <div class="styles__blookContainer___36LK2-camelCase styles__blook___bNr_t-camelCase">
                            <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/panda.svg" alt="Panda Blook" draggable="false" class="styles__blook___1R6So-camelCase">
                        </div>
                        <div class="styles__blookText___3AMdK-camelCase" style="background-color: rgb(75, 194, 46);">
                            1
                        </div>
                    </div>
                    <div class="styles__blookContainer___3JrKb-camelCase" role="button" tabindex="0">
                        <div class="styles__blookContainer___36LK2-camelCase styles__blook___bNr_t-camelCase styles__lockedBlook___3oGaX-camelCase">
                            <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/chameleon.svg" alt="Chameleon Blook" draggable="false" class="styles__blook___1R6So-camelCase">
                        </div>
                        <i class="fas fa-lock styles__blookLock___3Kgua-camelCase" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="styles__button___1_E-G-camelCase styles__mBlooksButton___3f-YA-camelCase" role="button" tabindex="0">
        <div class="styles__shadow___3GMdH-camelCase"></div>
        <div class="styles__edge___3eWfq-camelCase" style="background-color: rgb(154, 73, 170);"></div>
        <div class="styles__front___vcvuy-camelCase" style="background-color: rgb(154, 73, 170);">
            <div class="styles__mBlooksButtonInside___2RBAk-camelCase">
                Change Blook
            </div>
        </div>
    </div>
    <div class="styles__right___385mx-camelCase">
        <img src="https://cdn.discordapp.com/attachments/1132777741889056900/1135237353233981590/haha.png" alt="Background" class="styles__rightBackground___36mp5-camelCase" draggable="false">
        <div class="styles__rightTopText___2VrKK-camelCase">
            <div class="styles__highlightedName___2wOtf-camelCase" style="font-size: 27px;">
                <div style="display: block; white-space: nowrap;">
                    Donk
                </div>
            </div>
            <div class="styles__highlightedRarity___1EXx_-camelCase" style="color: rgb(10, 20, 250);">
                Rare
            </div>
        </div>
        <div class="styles__blookContainer___36LK2-camelCase styles__rightBlook___1JkY7-camelCase">
            <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/iceMonsters/donk.svg" alt="Donk Blook" draggable="false" class="styles__blook___1R6So-camelCase">
        </div>
        <div class="styles__rightBottom___F7qsO-camelCase"></div>
    </div>
    <div class="styles__rightButtonRow___3a0GF-camelCase">
        <div class="styles__button___1_E-G-camelCase styles__rightButton___2_ZIX-camelCase" role="button" tabindex="0">
            <div class="styles__shadow___3GMdH-camelCase"></div>
            <div class="styles__edge___3eWfq-camelCase" style="background-color: rgb(63, 17, 113);"></div>
            <div class="styles__front___vcvuy-camelCase" style="background-color: rgb(63, 17, 113);">
                <div class="styles__rightButtonInside___14imT-camelCase">
                    <img src="https://cdn.discordapp.com/attachments/1136360465333755924/1136694387024347237/hahah.png" alt="Edit_Icon" class="styles__rightButtonImg___1WJdo-camelCase" draggable="false">
                    Edit
                </div>
            </div>
        </div>
        <div class="styles__button___1_E-G-camelCase styles__rightButton___2_ZIX-camelCase" role="button" tabindex="0">
            <div class="styles__shadow___3GMdH-camelCase"></div>
            <div class="styles__edge___3eWfq-camelCase" style="background-color: rgb(63, 17, 113);"></div>
            <div class="styles__front___vcvuy-camelCase" style="background-color: rgb(63, 17, 113);">
                <div class="styles__rightButtonInside___14imT-camelCase">
                    <img src="https://cdn.discordapp.com/attachments/1136360465333755924/1136693973071712256/haah.png" alt="Shard" class="styles__rightButtonImg___1WJdo-camelCase" draggable="false">
                    Delete
                </div>
            </div>
        </div>

    </div>
</div>
    <div class="blooksBg"></div>
  </body>
</html>