<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Neh-bew-lett</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
  <link href="achat.css" rel="stylesheet" type="text/css" />
  <link href="scrollbar.css" rel="stylesheet" type="text/css" />
  <!--<script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>-->
  <link href="https://kit-pro.fontawesome.com/releases/v6.3.0/css/pro.min.css" rel="stylesheet" type="text/css" />
  <script>
    function openSidebar() {
      document.getElementsByClassName("arts__modal___VpEAD-camelCase")[0].style.display = "block";
      document.getElementsByClassName("styles__sidebar___1XqWi-camelCase")[0].style.transform = "translateX(0%)";
    }

    function closeSidebar() {
      document.getElementsByClassName("arts__modal___VpEAD-camelCase")[0].style.display = "none";
      if (window.innerWidth <= 850) document.getElementsByClassName("styles__sidebar___1XqWi-camelCase")[0].style.transform = "translateX(-100%)";
    }
  </script>
</head>

<body>
  <div
    class="arts__modal___VpEAD-camelCase styles__modalTransition___2oIBF-camelCase styles__modalOpen___3ScfB-camelCase"
    onclick="closeSidebar();">
  </div>
  <!--SIDEBAR SECTION-->
  <div class="styles__sidebar___1XqWi-camelCase">
    <text class="styles__logo___16pGV-camelCase">Nebulet</text>
    <a class="styles__pageButton___1wFuu-camelCase" href="/stats">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-chart-column" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Stats
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/market">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-store" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Market
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/blooks">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-suitcase" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Blooks
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/chat">
      <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-comment" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Chat
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/offers">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-gavel" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Offers
      </div>
    </a>
    <a href="/staff" class="styles__pageButton___1wFuu-camelCase">
      <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-screwdriver-wrench" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Staff
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/settings">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-cog" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Settings
      </div>
    </a>
    <div class="styles__bottomRow___3OozA-camelCase">
      <a data-tip="Stats" class="styles__smallButton___sQuq8-camelCase" href="/stats" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-discord" aria-hidden="true"></i>
      </a>
      <a data-tip="Blooks" class="styles__smallButton___sQuq8-camelCase" href="/blooks" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-youtube" aria-hidden="true"></i>
      </a>
      <a data-tip="Market" class="styles__smallButton___sQuq8-camelCase" href="/market" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-twitter" aria-hidden="true"></i>
      </a>
      <div class="styles__smallButton___sQuq8-camelCase" data-tip="News" role="button" tabindex="0" currentitem="false">
        <i class="far fa-newspaper styles__bottomIcon___3Fswk-camelCase" aria-hidden="true"></i>
      </div>
    </div>
    <a class="styles__plusButton___2dH73-camelCase" href="/store">
      <i class="fa-solid fa-sack-dollar styles__plusIcon___3DQkg-camelCase" aria-hidden="true"></i>
      Store
    </a>
  </div>
  <!--END OF SIDEBAR SECTION-->
  <div class="topLeftContainer">
    <i class="fa-solid fa-chevron-right topIcon" onclick="openSidebar();"></i>
  </div>
  <!--START OF TOP CORNER PFP SECTION-->
  <div class="styles__topRightRow___dQvxc-camelCase">
    <div class="usersButton">
      <text>Users</text>
    </div>
    <div class="styles__profileContainer___CSuIE-camelCase" role="button" tabindex="0">
      <div class="styles__profileRow___cJa4E-camelCase">
        <div class="styles__blookContainer___36LK2-camelCase styles__profileBlook___37mfP-camelCase">
          <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" alt="Rainbow Panda Blook"
            draggable="false" class="styles__blook___1R6So-camelCase">
        </div>
        user
      </div>
      <i class="fas fa-angle-down styles__profileDropdownIcon___3iLIX-camelCase" aria-hidden="true">
      </i>
      <div class="styles__profileDropdownMenu___2jUAA-camelCase">
        <a class="styles__profileDropdownOption___ljZXD-camelCase" href="/settings">
          <i class="fas fa-cog styles__profileDropdownOptionIcon___15VKX-camelCase" aria-hidden="true"></i>
          Settings
        </a>
        <a class="styles__profileDropdownOption___ljZXD-camelCase" href="https://id.blooket.com/logout">
          <i class="fas fa-sign-out-alt styles__profileDropdownOptionIcon___15VKX-camelCase" aria-hidden="true">
          </i>
          Logout
        </a>
      </div>
    </div>
  </div>
  <!--END OF TCP SECTION-->
  <div class="arts__profileBodyMax___3SXtp-camelCase styles__bodyMaxWidth___1T-09-camelCase">
    <div class="topChannelName">
      #general
    </div>
    <div class="chatContainer">
      <div class="messageContainer">
        <div class="messageReplying">
          <text class="messageReplyingContent">
            <span><b>╭<img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" alt="blook" class="messageReplyingPfp"> @user</b></span>  - <span>replying message</span>
          </text>
        </div>
        <div class="messageActions">
          <i class="whiteIcon messageAction fa-solid fa-face-awesome "></i>
          <i class="whiteIcon messageAction fa-solid fa-reply"></i>
          <i class="redIcon messageAction fa-solid fa-trash"></i>
          <i class="redIcon messageAction fa-solid fa-flag"></i>
        </div>
        <img width="50" class="chatPfp" src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" draggable = "false">
        <text class="messageUser">
            user
        </text>
        <text class="messageContent">message</text>
        <div class="messageReactions">
          <div class="reactedContainer reactionContainer">
            🤓
            <text class="reactionNum">20000</text>
          </div>
        </div>
      </div>
      <div class="messageContainer">
        <div class="messageReplying" style="display: block !important;">
          <text class="messageReplyingContent">
            <span><b>╭<img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" alt="blook" class="messageReplyingPfp"> @user</b></span>  - <span>replying message</span>
          </text>
        </div>
        <div class="messageActions">
          <i class="whiteIcon messageAction fa-solid fa-face-awesome "></i>
          <i class="whiteIcon messageAction fa-solid fa-reply"></i>
          <i class="redIcon messageAction fa-solid fa-trash"></i>
          <i class="redIcon messageAction fa-solid fa-flag"></i>
        </div>
        <img width="50" class="chatPfp" src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" draggable = "false">
        <text class="messageUser">
            user
        </text>
        <text class="messageContent">message</text>
        <div class="messageReactions" style="display: block !important;">
          <div class="reactionContainer">
            🤓
            <text class="reactionNum">20000</text>
          </div>
        </div>
      </div>
      
    </div>
    <div class="chatInputContainer">
      <div class="plusButton">
        <i class="plusIcon fas fa-plus"></i>
      </div>
       <div class="plusButton" style="right: 0 !important;left:auto !important;">
        <i class="plusIcon fas fa-face-awesome"></i>
      </div>
      <input class="chatInput" value="" placeholder="Message">
    </div>
  </div>
  <!--START OF CHAT SECTION-->
  <div class="chatRightBarContainer">
    <div class="chatRightBar">
      <div class="chatHeaderTextContainer">
        <text class="channelsText">Channels</text>
      </div>
      <div class="channelsContainer">
        <div class="channelsHolder">
          <div class="channel">
            <i class="channelIcon fas fa-comment" aria-hidden="true"></i>
            <text class="channelName">Chat</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-dollar-sign" aria-hidden="true"></i>
            <text class="channelName">Offers</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-handshake" aria-hidden="true"></i>
            <text class="channelName">Trading</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-gear" aria-hidden="true"></i>
            <text class="channelName">Bot</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-calendar" aria-hidden="true"></i>
            <text class="channelName">Events</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-screwdriver-wrench" aria-hidden="true"></i>
            <text class="channelName">Staff</text>
          </div>
        </div>
      </div>
      <div class="chatHeaderTextContainer" style="top: 50%;">
        <text class="channelsText">DMs/GCs</text>
      </div>
      <div class="dmsContainer">
        <div class="channelsHolder">
          <div class="channel">
            <i class="channelIcon fas fa-hashtag" aria-hidden="true"></i>
            <text class="channelName">BRP</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-hashtag" aria-hidden="true"></i>
            <text class="channelName">zastix</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-hashtag" aria-hidden="true"></i>
            <text class="channelName">thonk</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-messages" aria-hidden="true"></i>
            <text class="channelName">Staff</text>
          </div>
          <div class="channel">
            <i class="channelIcon fas fa-messages" aria-hidden="true"></i>
            <text class="channelName">haha</text>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="usersHolder">
    <div class="usersContainer">
      <div class="userContainer">
        <div class="userPfpContainer">
          <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg"  alt="blook" class="userPfpImg">
        </div>
        <div class="userNameContainer">
          <text>Username Here</text>
        </div>
      </div>
    </div>
  </div>
  <!--END OF CHAT SECTION-->
  <div class="blooksBg"></div>
</body>

</html>