<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>bean</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
    <link href="emoji.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="emojiSelector">
        <div class="emojiSearchContainer">
            <i class="searchIcon fa-solid fa-magnifying-glass"></i>
            <input class="emojiSearchInput" placeholder="Emoji" type="text" value="">
        </div>
            <div class="emojiContainer">
                <div class="emojiHolder">
                    <img src="https://cdn.discordapp.com/emojis/1112175110070226964.webp?size=160&quality=lossless" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://cdn.discordapp.com/emojis/1112175110070226964.webp?size=160&quality=lossless" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://cdn.discordapp.com/emojis/1112175110070226964.webp?size=160&quality=lossless" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://cdn.discordapp.com/emojis/1112175110070226964.webp?size=160&quality=lossless" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://cdn.discordapp.com/emojis/1112175110070226964.webp?size=160&quality=lossless" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://media.discordapp.net/attachments/1127658111386271746/1127740446706257950/00707A52-1CCF-41A1-B98C-14C85690165E.png?width=655&height=655" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://media.discordapp.net/attachments/1127658111386271746/1127740446706257950/00707A52-1CCF-41A1-B98C-14C85690165E.png?width=655&height=655" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://media.discordapp.net/attachments/1127658111386271746/1127740446706257950/00707A52-1CCF-41A1-B98C-14C85690165E.png?width=655&height=655" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://media.discordapp.net/attachments/1127658111386271746/1127740446706257950/00707A52-1CCF-41A1-B98C-14C85690165E.png?width=655&height=655" alt="emoji" class="emojiImg" draggable="false">
                </div>
                <div class="emojiHolder">
                    <img src="https://media.discordapp.net/attachments/1127658111386271746/1127740446706257950/00707A52-1CCF-41A1-B98C-14C85690165E.png?width=655&height=655" alt="emoji" class="emojiImg" draggable="false">
                </div>

            </div>
    </div>
    <div class="blooksBg"></div>
  </body>
</html>