<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>bean</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
    <link href="loading.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="loadingContainer">
        <div class="loadingBlook">
            <img alt="nebuletLogo" src="https://cdn.discordapp.com/channel-icons/1136360465333755924/34c46d7436bad775d115c1ea89870185.png" class="loadingBlookImg">
        </div>
    </div>
    <div class="blooksBg"></div>
  </body>
</html>