<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>bean</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
    <link href="modahl.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="modalStufz">
            <form class="modalForm">
                <div class="modalHeader">Header</div>
              <div class="modalDesc">blah blah blah blah blah.</div>
                <div class="modalItems">
                  <input placeholder="Input" value="" class="modalInput">
                  <input placeholder="Input" value="" class="modalInput">
                  <div class="modalButtons">
                    <div class="modalButton">button</div>
                    <div class="modalButton">button</div>
                  </div>
                </div>
            </form>
        
    </div>
    <div class="blooksBg"></div>
  </body>
</html>