<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Neh-bew-lett</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
  <!--<script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>-->
  <link href="https://kit-pro.fontawesome.com/releases/v6.3.0/css/pro.min.css" rel="stylesheet" type="text/css" />
  <script>
    function openSidebar() {
      document.getElementsByClassName("arts__modal___VpEAD-camelCase")[0].style.display = "block";
      document.getElementsByClassName("styles__sidebar___1XqWi-camelCase")[0].style.transform = "translateX(0%)";
    }

    function closeSidebar() {
      document.getElementsByClassName("arts__modal___VpEAD-camelCase")[0].style.display = "none";
      if (window.innerWidth <= 850) document.getElementsByClassName("styles__sidebar___1XqWi-camelCase")[0].style.transform = "translateX(-100%)";
    }
  </script>
</head>

<body>
  <div
    class="arts__modal___VpEAD-camelCase styles__modalTransition___2oIBF-camelCase styles__modalOpen___3ScfB-camelCase"
    onclick="closeSidebar();">
  </div>
  <!--SIDEBAR SECTION-->
  <div class="styles__sidebar___1XqWi-camelCase">
    <text class="styles__logo___16pGV-camelCase">Nebulet</text>
    <a class="styles__pageButton___1wFuu-camelCase" href="/stats">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-chart-column" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Stats
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/market">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-store" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Market
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/blooks">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-suitcase" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Blooks
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/chat">
      <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-comment" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Chat
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase styles__noMobile___30L3d-camelCase" href="/offers">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-gavel" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Offers
      </div>
    </a>
    <a href="/staff" class="styles__pageButton___1wFuu-camelCase">
      <i class="styles__pageIcon___3OSy9-camelCase fa-solid fa-screwdriver-wrench" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Staff
      </div>
    </a>
    <a class="styles__pageButton___1wFuu-camelCase" href="/settings">
      <i class="styles__pageIcon___3OSy9-camelCase fas fa-cog" aria-hidden="true"></i>
      <div class="styles__pageText___1eo7q-camelCase">
        Settings
      </div>
    </a>
    <div class="styles__bottomRow___3OozA-camelCase">
      <a data-tip="Stats" class="styles__smallButton___sQuq8-camelCase" href="/stats" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-discord" aria-hidden="true"></i>
      </a>
      <a data-tip="Blooks" class="styles__smallButton___sQuq8-camelCase" href="/blooks" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-youtube" aria-hidden="true"></i>
      </a>
      <a data-tip="Market" class="styles__smallButton___sQuq8-camelCase" href="/market" currentitem="false">
        <i class="styles__bottomIcon___3Fswk-camelCase fa-brands fa-twitter" aria-hidden="true"></i>
      </a>
      <div class="styles__smallButton___sQuq8-camelCase" data-tip="News" role="button" tabindex="0" currentitem="false">
        <i class="far fa-newspaper styles__bottomIcon___3Fswk-camelCase" aria-hidden="true"></i>
      </div>
    </div>
    <a class="styles__plusButton___2dH73-camelCase" href="/store">
      <i class="fa-solid fa-sack-dollar styles__plusIcon___3DQkg-camelCase" aria-hidden="true"></i>
      Store
    </a>
  </div>
  <!--END OF SIDEBAR SECTION-->
  <div class="topLeftContainer">
    <i class="fa-solid fa-chevron-right topIcon" onclick="openSidebar();"></i>
  </div>
  <!--START OF TOP CORNER PFP SECTION-->
  <div class="styles__topRightRow___dQvxc-camelCase">
    <div class="styles__profileContainer___CSuIE-camelCase" role="button" tabindex="0">
      <div class="styles__profileRow___cJa4E-camelCase">
        <div class="styles__blookContainer___36LK2-camelCase styles__profileBlook___37mfP-camelCase">
          <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" alt="Rainbow Panda Blook"
            draggable="false" class="styles__blook___1R6So-camelCase">
        </div>
        user
      </div>
      <i class="fas fa-angle-down styles__profileDropdownIcon___3iLIX-camelCase" aria-hidden="true">
      </i>
      <div class="styles__profileDropdownMenu___2jUAA-camelCase">
        <a class="styles__profileDropdownOption___ljZXD-camelCase" href="/settings">
          <i class="fas fa-cog styles__profileDropdownOptionIcon___15VKX-camelCase" aria-hidden="true"></i>
          Settings
        </a>
        <a class="styles__profileDropdownOption___ljZXD-camelCase" href="https://id.blooket.com/logout">
          <i class="fas fa-sign-out-alt styles__profileDropdownOptionIcon___15VKX-camelCase" aria-hidden="true">
          </i>
          Logout
        </a>
      </div>
    </div>
  </div>
  <!--END OF TCP SECTION-->
  <div class="arts__profileBodyMax___3SXtp-camelCase styles__bodyMaxWidth___1T-09-camelCase">
    <div class="styles__fullContainer___3Wl6C-camelCase">
      <!--START OF USERINFO SECTION-->
      <div class="styles__headerRow___3mqZi-camelCase">
        <div class="styles__headerLeft___1Hu3N-camelCase">
          <div class="styles__headerLeftRow___8vTJL-camelCase">
            <div class="styles__headerBlookContainer___36zY5-camelCase" role="button" tabindex="0">
              <div class="styles__blookContainer___36LK2-camelCase styles__headerBlook___DdSHd-camelCase">
                <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" alt="Blook"
                  draggable="false" class="styles__blook___1R6So-camelCase">
              </div>
            </div>
            <div class="styles__headerInfo___1oWlb-camelCase">
              <div class="styles__headerBanner___3Uuuk-camelCase" role="button" tabindex="0">
                <img
                  src="https://media.discordapp.net/attachments/1132777741889056900/1134498407269015693/image.png?width=1440&height=318"
                  alt="Banner" class="styles__headerBg___12ogR-camelCase" draggable="false">
                <div class="styles__headerName___1GBcl-camelCase">
                  user
                </div>
                <div class="styles__headerTitle___24Ox2-camelCase">
                  role
                </div>
              </div>
              <div class="styles__levelBarContainer___1xi-9-camelCase">
                <div class="styles__levelBar___2SU0x-camelCase">
                  <div class="styles__levelBarInside___3FLAG-camelCase" style="transform: scaleX(1);">
                  </div>
                </div>
                <div class="styles__levelStarContainer___7ABEf-camelCase">
                  <img
                    src="https://media.discordapp.net/attachments/1132777741889056900/1134508487733420113/levelStar.png?width=75&height=75"
                    alt="Star" class="styles__levelStar___LHq_y-camelCase" draggable="false">
                  <div class="styles__levelStarText___2Myxg-camelCase">
                    0
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="styles__headerLeftButtons___3zGk0-camelCase">
            <div class="styles__button___1_E-G-camelCase styles__headerButton___36TRh-camelCase" role="button"
              tabindex="0">
              <div class="styles__shadow___3GMdH-camelCase"></div>
              <div class="styles__edge___3eWfq-camelCase" style="background-color: #4441d9;"></div>
              <div class="styles__front___vcvuy-camelCase" style="background-color: #4441d9;">
                <div class="styles__headerButtonInside___26e_U-camelCase"><i
                    class="styles__headerButtonIcon___1pOun-camelCase fas fa-search" aria-hidden="true"></i>
                  View Stats
                </div>
              </div>
            </div>
            <div class="styles__button___1_E-G-camelCase styles__headerButton___36TRh-camelCase" role="button"
              tabindex="0">
              <div class="styles__shadow___3GMdH-camelCase"></div>
              <div class="styles__edge___3eWfq-camelCase" style="background-color: rgb(100,100,255);"></div>
              <div class="styles__front___vcvuy-camelCase" style="background-color: rgb(100,100,255);">
                <div class="styles__headerButtonInside___26e_U-camelCase"><i
                    class="styles__headerButtonIcon___1pOun-camelCase fas fa-comment" aria-hidden="true"></i>
                  Chat
                </div>
              </div>
            </div>
            <div class="styles__button___1_E-G-camelCase styles__headerButton___36TRh-camelCase" role="button"
              tabindex="0">
              <div class="styles__shadow___3GMdH-camelCase"></div>
              <div class="styles__edge___3eWfq-camelCase" style="background-color: #4997eb;"></div>
              <div class="styles__front___vcvuy-camelCase" style="background-color: #4997eb;">
                <div class="styles__headerButtonInside___26e_U-camelCase"><i
                    class="styles__headerButtonIcon___1pOun-camelCase fas fa-handshake" aria-hidden="true"></i>
                  Trade
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--END OF USERINFO SECTION-->

      <!--START OF STATS STUFZ-->
      <div class="styles__bottomContainer___3kOrb-camelCase">
        <div class="styles__right___13qxc-camelCase">
          <div class="styles__statsContainer___QnrRB-camelCase">
            <div class="styles__containerHeader___3xghM-camelCase">
              <div class="styles__containerHeaderInside___2omQm-camelCase">
                Stats
              </div>
            </div>
            <div class="styles__statsWrapper___r9VCh-camelCase">
              <div class="styles__statContainer___QKuOF-camelCase">
                <div class="styles__statTitle___z4wSV-camelCase">
                  Tokens
                </div>
                <div class="styles__statNum___5RYSd-camelCase">
                  tokens
                </div>
                <img
                  src="https://media.discordapp.net/attachments/1132777741889056900/1134493344312082491/token_2.png?width=655&height=655"
                  alt="Tokens" class="styles__statImg___3DBXt-camelCase" draggable="false">
              </div>
              <div class="styles__statContainer___QKuOF-camelCase">
                <div class="styles__statTitle___z4wSV-camelCase">
                  Blooks Unlocked
                </div>
                <div class="styles__statNum___5RYSd-camelCase">
                  unlocks
                </div>
                <img
                  src="https://media.discordapp.net/attachments/1132777741889056900/1134494561796894720/aha.png?width=88&height=75"
                  alt="Blooks Unlocked" class="styles__statImg___3DBXt-camelCase" draggable="false">
              </div>
              <div class="styles__statContainer___QKuOF-camelCase">
                <div class="styles__statTitle___z4wSV-camelCase">
                  Messages Sent
                </div>
                <div class="styles__statNum___5RYSd-camelCase">
                  messages
                </div>
                <img src="https://cdn.discordapp.com/attachments/1132777741889056900/1134493913139392583/chat.png"
                  alt="Messages" class="styles__statImg___3DBXt-camelCase" draggable="false">
              </div>
              <div class="styles__statContainer___QKuOF-camelCase">
                <div class="styles__statTitle___z4wSV-camelCase">
                  Completed Trades
                </div>
                <div class="styles__statNum___5RYSd-camelCase">
                  trades
                </div>
                <img src="https://cdn.discordapp.com/attachments/1132777741889056900/1134493913139392583/chat.png"
                  alt="Trades" class="styles__statImg___3DBXt-camelCase" draggable="false">
              </div>
              <div class="styles__statContainer___QKuOF-camelCase">
                <div class="styles__statTitle___z4wSV-camelCase">
                  Successful Offers
                </div>
                <div class="styles__statNum___5RYSd-camelCase">
                  offers
                </div>
                <img src="https://cdn.discordapp.com/attachments/1132777741889056900/1134493913139392583/chat.png"
                  alt="Messages" class="styles__statImg___3DBXt-camelCase" draggable="false">
              </div>
              <div class="styles__statContainer___QKuOF-camelCase">
                <div class="styles__statTitle___z4wSV-camelCase">
                  Expeditions
                </div>
                <div class="styles__statNum___5RYSd-camelCase">
                  expeditions
                </div>
                <img src="https://cdn.discordapp.com/attachments/1132777741889056900/1134493913139392583/chat.png"
                  alt="Messages" class="styles__statImg___3DBXt-camelCase" draggable="false">
              </div>
            </div>
          </div>
        </div>
        <div class="styles__left___a1a11-camelCase">
          <div class="styles__historyContainer___kQ6kc-camelCase">
            <div class="styles__containerHeader___3xghM-camelCase">
              <div class="styles__containerHeaderInside___2omQm-camelCase">
                History
              </div>
            </div>
            <div class="styles__historyGameContainer___1ncNG-camelCase">
              <div class="styles__blookContainer___36LK2-camelCase styles__historyBlook___3dMsx-camelCase">
                <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/safari/rainbowPanda.svg" alt="Rainbow Panda Blook" draggable="false" class="styles__blook___1R6So-camelCase">
              </div>
              <div class="styles__historyInfo___11Lo0-camelCase">
                <div class="styles__historyName___3REcG-camelCase">
                  user
                </div>
                <div>
                  expedition_name
                </div>
              </div>
              <div class="styles__gameStatContainer___lqtJn-camelCase">
                <div class="styles__gameStatText___2PxtE-camelCase">
                  tokens
                </div>
                <img src="" draggable="false">
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!--END OF STATS STUFZ-->
    </div>
  </div>
  <div class="blooksBg"></div>
</body>

</html>