<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>cash $$$</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
    <link href="store.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>
  </head>
  <body>
   <div class="arts__body___3acI_-camelCase">
     <div class="styles__header___22Ne2-camelCase">
       <a class="styles__blooketText___1pMBG-camelCase" href="/">
         Nebulet
       </a>
     </div>
     <div class="styles__background___20rdi-camelCase"></div>
     <div class="arts__regularBody___1TM6E-camelCase">
       <div class="styles__header___1Boll-camelCase">
         Store
       </div>
       <div class="styles__planContainer___3Cj3J-camelCase">
         <div class="styles__plan___1OEy4-camelCase">
           <div class="styles__planBackground___3Hn_x-camelCase styles__plan1___pSAZV-camelCase" style="background-color: #692194;"></div>
           <div class="styles__planTop___2JfpA-camelCase">
             Booster
           </div>
           <div class="styles__planPrice___2fwN6-camelCase">
             $2.99
           </div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Boost Pack Chances
           </div>
           <div class="styles__planSpacer___LF8cN-camelCase"></div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             1hr of boosting
           </div>
           <a class="styles__button___1_E-G-camelCase styles__planButton___2UTVa-camelCase" href="/">
             <div class="styles__shadow___3GMdH-camelCase"></div>
             <div class="styles__edge___3eWfq-camelCase" style="background-color: #692194;"></div>
             <div class="styles__front___vcvuy-camelCase styles__planButtonInside___wAgJI-camelCase" style="background-color: #692194;">
               Buy Now
             </div>
           </a>
         </div>
         <div class="styles__plan___1OEy4-camelCase">
           <div class="styles__planBackground___3Hn_x-camelCase styles__plan2___3teRR-camelCase" style="background-color: #882cbf;"></div>
           <div class="styles__planTop___2JfpA-camelCase">
             Plus
           </div>
           <div class="styles__planPrice___2fwN6-camelCase">
             $9.99
           </div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Chat Perks
           </div>
           <div class="styles__planSpacer___LF8cN-camelCase"></div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Banners
           </div>
           <div class="styles__planSpacer___LF8cN-camelCase"></div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Plus Quests
           </div>
           <div class="styles__planSpacer___LF8cN-camelCase"></div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Booster Perks
           </div>
           <div class="styles__planSpacer___LF8cN-camelCase"></div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Early Access
           </div>
           <div class="styles__planSpacer___LF8cN-camelCase"></div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Custom Avatars, And More
           </div>
           <div class="styles__button___1_E-G-camelCase styles__planButton___2UTVa-camelCase" role="button" tabindex="0">
             <div class="styles__shadow___3GMdH-camelCase"></div>
             <div class="styles__edge___3eWfq-camelCase" style="background-color: #882cbf;"></div>
             <div class="styles__front___vcvuy-camelCase styles__planButtonInside___wAgJI-camelCase" style="background-color: #882cbf;">
               Buy Now
             </div>
           </div>
         </div>
         <div class="styles__plan___1OEy4-camelCase">
           <div class="styles__planBackground___3Hn_x-camelCase styles__plan3___3bhXu-camelCase" style="background-color: #692194;"></div>
           <div class="styles__planTop___2JfpA-camelCase">
             Booster
           </div>
           <div class="styles__planPrice___2fwN6-camelCase">
             $4.99
           </div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             Boost Pack Chances
           </div>
           <div class="styles__planSpacer___LF8cN-camelCase"></div>
           <div class="styles__planDetail___V2tYJ-camelCase">
             3hrs Of Boosting
           </div>
           <div class="styles__button___1_E-G-camelCase styles__planButton___2UTVa-camelCase" role="button" tabindex="0">
             <div class="styles__shadow___3GMdH-camelCase"></div>
             <div class="styles__edge___3eWfq-camelCase" style="background-color: #692194;"></div>
             <div class="styles__front___vcvuy-camelCase styles__planButtonInside___wAgJI-camelCase" style="background-color: #692194;">
               Buy Now
             </div>
           </div>
         </div>
       </div>
       <div class="styles__middleWrapper___hjUyY-camelCase">
         <div class="styles__middleHeader___1knI4-camelCase">
           Perks of Plus
         </div>
         <div class="styles__middlePerks___3JJQv-camelCase">
           <div class="styles__perkContainer___2rw2I-camelCase">
             <i class="fas fa-image styles__perkIcon___3Ke37-camelCase" aria-hidden="true"></i>
             <div class="styles__perkInfo___1jvHA-camelCase">
               <div class="styles__perkTitle___3vmIt-camelCase">
                 Banners
               </div>
               Use banners on your profile.
             </div>
           </div>
           <div class="styles__perkContainer___2rw2I-camelCase">
             <i class="fas fa-plus styles__perkIcon___3Ke37-camelCase" aria-hidden="true"></i>
             <div class="styles__perkInfo___1jvHA-camelCase">
               <div class="styles__perkTitle___3vmIt-camelCase">
                 Plus Role
               </div>
               Get the "plus" role in game and on discord.
             </div>
           </div>
          <div class="styles__perkContainer___2rw2I-camelCase">
             <i class="fas fa-arrow-up styles__perkIcon___3Ke37-camelCase" aria-hidden="true"></i>
             <div class="styles__perkInfo___1jvHA-camelCase">
               <div class="styles__perkTitle___3vmIt-camelCase">
                 Boosters
               </div>
               30% off all boosters, and one free booster.
             </div>
           </div>
           <div class="styles__perkContainer___2rw2I-camelCase">
             <i class="fas fa-star styles__perkIcon___3Ke37-camelCase" aria-hidden="true"></i>
             <div class="styles__perkInfo___1jvHA-camelCase">
               <div class="styles__perkTitle___3vmIt-camelCase">
                 Early Access
               </div>
               Early acess to new systems (e.g 12hour before everyone has access.)
             </div>
           </div>
           <div class="styles__perkContainer___2rw2I-camelCase">
             <i class="fas fa-user-plus styles__perkIcon___3Ke37-camelCase" aria-hidden="true"></i>
             <div class="styles__perkInfo___1jvHA-camelCase">
               <div class="styles__perkTitle___3vmIt-camelCase">
                 Avatar
               </div>
               Get a custom avatar. 
             </div>
           </div>
           <div class="styles__perkContainer___2rw2I-camelCase">
             <i class="fas fa-message styles__perkIcon___3Ke37-camelCase" aria-hidden="true"></i>
             <div class="styles__perkInfo___1jvHA-camelCase">
               <div class="styles__perkTitle___3vmIt-camelCase">
                 Chat Perks
               </div>
               Able to have up to 15 members in groupchats,longer messages, sending embeds, and less delay.
             </div>
           </div>
                      <div class="styles__perkContainer___2rw2I-camelCase">
             <i class="fas fa-scroll styles__perkIcon___3Ke37-camelCase" aria-hidden="true"></i>
             <div class="styles__perkInfo___1jvHA-camelCase">
               <div class="styles__perkTitle___3vmIt-camelCase">
                 Plus Quests
               </div>
               10 Exclusive plus quests a month, if you complete all 10 you get a costmetic.
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
    <div class="blooksBg"></div>
  </body>
</html>