<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TOAST YUMEH</title>
  <link href="statz.css" rel="stylesheet" type="text/css" />
    <link href="yummytoast.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/87eb717fbd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="toasts">
      <div class="toast">
        <div class="toastImgHolder">
          <img src="https://blooket.s3.us-east-2.amazonaws.com/blooks/breakfast/toast.svg" alt="image" class="toastImg" draggable="false">
        </div>
        <div class="toastText">
          <text class="toastTitle">TOAST</text>
          <p class="toastDesc">i love toast yummy *drools*</p>
        </div>
        <div class="toastTime">
          00:10
        </div>
      </div>
    </div>
    <div class="blooksBg"></div>
  </body>
</html>