.contentContainer {
    left: calc(50% + 110px);
    transform: translateX(-50%);
    max-width: 1366px;
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    margin: 10px 5%;
}

.pageTitle {
    font-family: Nunito, sans-serif;
    font-size: 44px;
    font-weight: 700;
    margin: 15px 5% 10px;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(255,255,255,0.7);
}